version: '3'
services:
  postgres:
    image: postgres:alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./migration.sql:/docker-entrypoint-initdb.d/init.sql
  app:
    depends_on:
      - postgres
    build: .
    ports:
      - "9876:9876"
    restart: always
